@model IEnumerable<Simir.Application.ViewModels.ActionVM>

@{
    ViewBag.Title = "Lista de Actions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        @ViewBag.Title
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-primary btn-xs" onclick="location.href='@Url.Action("CriarEditar")';return false;"><i class="fa fa-file-o "></i> </button>

        </div>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ControllerNome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ActionNome)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Display)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ControllerNome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ActionNome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Display)
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary btn-xs" onclick="location.href='@Url.Action("CriarEditar", new { nome = item.ControllerNome })';return false;"><i class="fa fa-edit "></i> </button>
                                <button type="button" class="btn btn-danger btn-xs" onclick="location.href='@Url.Action("Excluir", new { nome = item.ControllerNome })';return false;"><i class="fa fa-minus-circle"></i> </button>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
