@model Simir.CrossCutting.Security.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Esqueceu sua senha?";
    Layout = "~/Views/Shared/_LayoutNaoLogado.cshtml";
}

<div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12 col-center-block">
        <!-- Form Elements -->
        <div class="panel panel-default">
            <div class="panel-heading">
                @ViewBag.Title
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <section id="">
                            @using (Html.BeginForm("EsqueceuSenha", "Autenticacao", new { area = "Identificacao" }, FormMethod.Post, new {  role = "form" }))
                            {

                                @Html.AntiForgeryToken()
                                
                         <h3>Forneça seu e-mail.</h3>
                                @Html.ValidationSummary("", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email)
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-default" value="Enviar" />
                                </div>
                            }
                        </section>
                    </div>
                </div>
            </div>
            <div class="panel-back">

            </div>
        </div>
        <!-- End Form Elements -->
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

