@model Simir.CrossCutting.Security.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Identifique-se";
    Layout = "~/Views/Shared/_LayoutNaoLogado.cshtml";
}
<div class="row">
    
    <div class="col-md-6">

        <section id="loginForm" class="col-md-8 col-center-block" style="padding-top:10em;">
            @using (Html.BeginForm("Logar", "Autenticacao", new { ReturnUrl = ViewBag.ReturnUrl, area = "Identificacao" }, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h2 class="roma-titulo" style="font-size:40px;">Seja Bem Vindo!</h2>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

                </div>
                <div class="form-group">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe) | 
                        @Html.ActionLink("Esqueceu sua senha?", "EsqueceuSenha", new { @class = "pull-right" })
                    </div>
                    
                </div>
                <div class="form-group">
                    <input type="submit" value="Entrar" class="btn btn-default pull-right" />
                </div>
            }
        </section>

    </div>

    <div class="col-md-6" style="width:40%; margin-top:10%;">
        <img src="~/Content/img/Engrenagens.svg" class="img-responsive">
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}