@model IList<Simir.Application.ViewModels.AterroCadastradosVM>


<table id="example" class="table table-hover" cellspacing="0">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().nmFantasia)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().CNPJ)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().bAterroControlado)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(item => item[i].nmFantasia)
                </td>
                <td>
                    @Html.DisplayFor(item => item[i].CNPJ)
                </td>
                <td>
                    @Html.DisplayFor(item => item[i].bAterroControlado)
                </td>
                <td>
                    <a href="@Url.Action("Index", "Aterro", new { area = "Configuracao", id = Model[i].AterroID })">
                        <div class="btn btn-primary btn-xs"><i class="fa fa-edit "></i></div>
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>



<script>

    $(document).ready(function () {
        $('#example').dataTable({
            "lengthChange": false
        });
    });
</script>