@model Simir.Application.ViewModels.ReceitasDespesasVM
@using Simir.WebInterfaceComAuth.Helpers
@using Simir.Domain.Enuns

@{
    ViewBag.Title = "Controle Financeiro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.LancamentoID)
    @Html.HiddenFor(x => x.PrefeituraID)
    @Html.HiddenFor(x => x.Btn)

    <div class="panel panel-default">
        <div class="panel-heading">
            Receitas e Despesas
        </div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    @Html.ValidationSummary(false, "(* campos obrigatórios)", new { @class = "text-danger" })
                    <div class="row" style="margin-left:-3%">
                        <div class="col-md-7">
                            @Html.EditBootstrapFor(model => model.nmLancamento, tudoTamanho: 12, inputTamanho: 12)
                        </div>
                        <div class="col-md-1" style="Margin-top:2%;margin-left:-3%;">
                            <div class="btn btn-success" onclick="CarregaGrid();" data-toggle="modal" data-target="#BuscaProgramacao">Localizar</div>
                        </div>
                    </div>
                   
                    <div class="row">
                        <div class="modal fade" id="BuscaProgramacao" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
                                    <div id="modal">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-left:-3%">
                        <div class="form-group col-xs-2" style="margin-left: 1.5%;">
                            <label>@Html.DisplayNameFor(model => model.bReceita)</label>
                            <div class="input-group">
                                <label class="switch">
                                    <input checked="checked" class="switch-input" data-val="true" data-val-required="The Unidade de medida field is required."
                                           id="Despesas" name="bReceita" type="radio" value="false">
                                    <label for="Despesas" class="switch-label switch-label-off">Despesas</label>

                                    <input class="switch-input" id="Receita" name="bReceita" type="radio" value="true">
                                    <label for="Receita" class="switch-label switch-label-on">Receitas</label>
                                    <span class="switch-selection"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            @Html.EditBootstrapFor(model => model.valor, tudoTamanho:12,inputTamanho:12)
                        </div>
                        <div class="col-md-3">
                            @Html.EditBootstrapFor(model => model.dtReferencia, tudoTamanho: 12, inputTamanho: 12)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6" style="margin-left: -1.5%;">
                            @Html.DDLBootstrapFor(model => model.CategoriaID, model => model.nmCategoria, "/Limpeza/ServicosEventuais/ReturnRegiaoAdministrativa/", "", null)
                        </div>
                        @if (Model.bReceita == false)
                        {
                            <div class="col-md-6" id="PrestadoraServico" style="margin-left: -2.8%;">
                                @Html.DDLBootstrapFor(model => model.PrestadoraServicosID, model => model.nmPrestadoraServicos, "/Limpeza/ServicosEventuais/ReturnRegiaoAdministrativa/", "", null)
                            </div>
                        }
                    </div>

                    <div class="row col-md-12">
                        <div class="form-group">
                            <label>@Html.DisplayNameFor(model => model.Descricao)</label><br />
                            @Html.TextAreaFor(model => model.Descricao, 5, 130, new { maxlength = "200", @class = "form-control" })
                            <span class="caracteresDescricao">200</span> Restantes <br>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group  pull-right">
                            @if (User.Identity.TemPermicao(TipoPermissao.Incluir) || User.Identity.TemPermicao(TipoPermissao.Alterar))
                            {
                                <div class="btn btn-default" onclick=" Novo(); ">Novo</div>
                                <div class="btn btn-success" onclick=" Salvar(); " data-confirm="Tem certeza que deseja salvar?">Salvar</div>
                            }
                            @if (User.Identity.TemPermicao(TipoPermissao.Excluir))
                            {
                                <div id="btnExcluir" class="btn btn-danger" onclick=" Excluir(); " data-confirm="Tem certeza que deseja excluir?">Excluir</div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts
        {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function carregaPagina() {
        }

        $(window).load(carregaPagina());

        function Salvar() {
            var form = $('form', '#page-inner');
            if (form.validate()) {
                $('#Btn').val("Salvar");
                form.submit();
                // return true;
            }
        }

        $("#Receita").change(function () {
            $("#bReceita").val(true)
            $("#PrestadoraServico").hide()
        });
        $("#Despesas").change(function () {
            $("#bReceita").val(false)
            $("#PrestadoraServico").show()
        });

        $(document).on("input", "#Descricao", function () {
            var limite = 200;
            var caracteresDigitados = $(this).val().length;
            var caracteresRestantes = limite - caracteresDigitados;

            $(".caracteresDescricao").text(caracteresRestantes);
        });



        function CarregaGrid() {
            $("#modal").load("/ColetaTransporte/ExecucaoColeta/BuscaProgramacao/" + "0" +
                "?dtRef=" + $("#dtReferencia").val());
        }


    </script>
}
