@model IList<Simir.Application.ViewModels.ListaEnderecoColetaVM>

@using Simir.WebInterfaceComAuth.Helpers

@{
    string nmPropriedade = ViewData.ModelMetadata.PropertyName;
}

<div id="@nmPropriedade" class="panel panel-default EquipamentosVM">
    <div class="panel-heading">
        @ViewData.ModelMetadata.DisplayName
    </div>
    <div class="panel-body">

        <div class="row" style="margin-left:1%;">
            @*Primeira Linha*@
            <div class="col-xs-7">
                <div class="form-group row">
                    <label>Solicitante</label>
                    <div class="input-group col-xs-10">
                        <input class="inpNovoSolicitante form-control" maxlength="70" type="text" value="" autocomplete="off">
                    </div>
                </div>
            </div>

            <div class="col-xs-3">
                <div class="form-group row">
                    <label>Telefone</label>
                    <div class="input-group  col-xs-9">
                        <input class="inpNovoTelefone form-control text-right valid" data-mask="0000000-0000" data-mask-reverse="True" type="text" value="" autocomplete="off">
                    </div>
                </div>
            </div>



            <div class="form-group col-xs-2">
                <label> </label>
                <div class="input-group">
                    <div class="btn btn-primary btnAddEquipamento">
                        <i class="fa fa-plus-circle "></i> Incluir
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-left:1%;">
            @*Segunda Linha*@

            <div class="col-xs-12">
                <div class="form-group row">
                    <label>Local Coleta</label>
                    <div class="input-group col-xs-11">
                        <input class="inpNovoLocal form-control" maxlength="200" type="text" value="" autocomplete="off">
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-left:1%;">
            @*Terceira Linha*@
            <div class="col-xs-12">
                <div class="form-group row">
                    <label>Itens a ser recolhidos</label>
                    <div class="input-group col-xs-11">
                        <textarea class="inpNovoItens form-control" cols="130" id="inpNovoEndereco" maxlength="300" rows="5"></textarea>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Solicitante</th>
                    <th>Telefone</th>
                    <th>Local Coleta</th>
                    <th>Itens a ser recolhidos</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    <tr>
                        <td class="tdnmSolicitante col-xs-2">
                            <span>@Model[i].nmSolicitante</span>
                            <input class="inpNovoSolicitante" type="hidden" name="@String.Format("{0}[{1}].nmSolicitante", nmPropriedade, i)" value="@Model[i].nmSolicitante" />
                        </td>
                        <td class="tdTelefone col-xs-2">
                            <span>@Model[i].Telefone</span>
                            <input class="inpNovoTelefone" type="hidden" name="@String.Format("{0}[{1}].Telefone", nmPropriedade, i)" value="@Model[i].Telefone" />
                        </td>
                        <td class="tdLocal col-xs-3">
                            <span>@Model[i].nmLocalColeta</span>
                            <input class="inpNovoLocal" type="hidden" name="@String.Format("{0}[{1}].nmLocalColeta", nmPropriedade, i)" value="@Model[i].nmLocalColeta" />
                        </td>
                        <td class="tdItens col-xs-3">
                            <span>@Model[i].nmItemsRecolhido</span>
                            <input class="inpNovoItens" type="hidden" name="@String.Format("{0}[{1}].nmItemsRecolhido", nmPropriedade, i)" value="@Model[i].nmItemsRecolhido" />
                        </td>
                        <td class="col-xs-2">
                            <input class="inpEnderecosColetaEventualID" type="hidden" name="@String.Format("{0}[{1}].EnderecosColetaEventualID", nmPropriedade, i)" value="@Model[i].EnderecosColetaEventualID" />
                            <input class="inpExcluir" type="hidden" name="@String.Format("{0}[{1}].Status", nmPropriedade, i)" value="1" />

                            <div class="btn btn-danger btnExcluir">
                                <i class="fa fa-trash-o"></i>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>


@using (Html.BeginScriptContext())
{
    Html.AddScriptBlock(
        @<script type="text/javascript">
            $(".btnExcluir", "#@nmPropriedade").click(
            function () {
                var linha = $(this).closest('tr');
                linha.find(".inpExcluir").val('8');
                linha.hide();
            });

            $("input:text", "#@nmPropriedade .linhapronta").change(
            function () {
                var linha = $(this).closest('tr');
                linha.find(".inpExcluir").val('2');
            });

            $(".btnAddEquipamento", "#@nmPropriedade").click(
            function () {
                var tabela = $(this).closest(".EquipamentosVM").find("tbody")
                var i = $('tr', tabela).length;

                var prefixo = '@nmPropriedade' + '[' + i + ']';

                var Solicitante = $(".inpNovoSolicitante", "#@nmPropriedade").val();
                var Telefone = $(".inpNovoTelefone", "#@nmPropriedade").val();
                var Local = $(".inpNovoLocal", "#@nmPropriedade").val();
                var Itens = $(".inpNovoItens", "#@nmPropriedade").val();
                $(".inpNovoSolicitante", "#@nmPropriedade").val('');
                $(".inpNovoTelefone", "#@nmPropriedade").val('');
                $(".inpNovoLocal", "#@nmPropriedade").val('');
                $(".inpNovoItens", "#@nmPropriedade").val('');

                tabela.append('<tr>' +
                                    '<td class="tdnmSolicitante col-xs-2">' +
                                       ' <span>' + Solicitante + '</span>' +
                                        '<input class="inpNovoSolicitante" type="hidden" name="' + prefixo + '.nmSolicitante" value="' + Solicitante + '" />' +
                                    '</td>' +
                                    '<td class="tdTelefone col-xs-2">' +
                                        '<span>' + Telefone + '</span>' +
                                        '<input class="inpNovoTelefone" type="hidden" name="' + prefixo + '.Telefone"" value="' + Telefone + '" />' +
                                    '</td>' +
                                    '<td class="tdLocal col-xs-3">' +
                                        '<span>' + Local + '</span>' +
                                        '<input class="inpNovoLocal" type="hidden" name="' + prefixo + '.nmLocalColeta" value="' + Local + '" />' +
                                    '</td>' +
                                    '<td class="tdItens col-xs-3">' +
                                        '<span>' + Itens + '</span>' +
                                        '<input class="inpNovoItens" type="hidden" name="' + prefixo + '.nmItemsRecolhido" value="' + Itens + '" />' +
                                    '</td>' +
                                    '<td class="col-xs-2">' +
                                        '<input class="inpEnderecosColetaEventualID" type="hidden" name="' + prefixo + '.EnderecosColetaEventualID" value="0" />' +
                                        '<input class="inpExcluir" type="hidden" name="' + prefixo + '.Status" value="4" />' +
                                        '<div class="btn btn-danger btnExcluir"><i class="fa fa-trash-o "></i></div>' +
                                    '</td>' +
                                '</tr>');


                ultimalinha = $('tr', tabela).last();

                ultimalinha.find('.btnExcluir').click(
                function () {
                    var linha = $(this).closest('tr');
                    linha.remove();
                });
            });
        </script>
, false);
}

