@model IList<Simir.Application.ViewModels.DisposicaoFinalHistoricoVM>
<table id="example" class="table table-hover" cellspacing="0">
    <thead>
        <tr>
            <th style="text-align: center;">@Html.DisplayNameFor(model => model.FirstOrDefault().DataColetada)</th>
            <th style="text-align: center;">@Html.DisplayNameFor(model => model.FirstOrDefault().Quantidade)</th>
            <th style="text-align: center;">@Html.DisplayNameFor(model => model.FirstOrDefault().EmpresaGeradora)</th>
            <th style="text-align: center;">@Html.DisplayNameFor(model => model.FirstOrDefault().EmpresaDestino)</th>
            <th style="text-align: center;">@Html.DisplayNameFor(model => model.FirstOrDefault().Transbordou)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td align='center'>
                    @Html.DisplayFor(item => item[i].DataColetada)
                </td>
                <td align='center'>
                    @Html.DisplayFor(item => item[i].Quantidade)
                </td>
                <td align='center'>
                    @Html.DisplayFor(item => item[i].EmpresaGeradora)
                </td>
                <td align='center'>
                    @Html.DisplayFor(item => item[i].EmpresaDestino)
                </td>
                <td align='center'>
                    @Html.DisplayFor(item => item[i].Transbordou)
                </td>
                <td>
                    <a href="@Url.Action("Index", "ColetaTransporte", new { area = "Externo", id = Model[i].Id })">
                        <div class="btn btn-primary btn-xs"><i class="fa fa-edit "></i></div>
                    </a>

                </td>
            </tr>
        }
    </tbody>
</table>

<script>

    $(document).ready(function () {
        $('#example').dataTable({
            "searching": false,
            "lengthChange": false
        });
    });
</script>

